
.container {
    width: 920px;
    margin: 0 auto;
    
}

/* bloque encabezado inicio */
    #encabezado 
    {
        height: 120px;
        display: flex;
        justify-content: space-between;
    }


    #titulos h1 { font-size: 1.5em;} 
    #titulos h2 { font-size: 1.2em;} 
    #titulos h3 { font-size: 0.9em;} 
    #titulos h4 { font-size: 0.8em;} 
/* bloque encabezado cierre*/


/* barra navegacion inicio*/
    #barra_navegacion 
   {
        height: 50px;
        display: flex;
        justify-content: center;

    }

    #barra_navegacion li{
        display: inline-block;
        padding: 0;
    }

    #barra_navegacion ul ul{
        display: none;
    }
    #barra_navegacion a{
        color: black;
        padding: 10px 20px;
        text-decoration: none;
        background-color: darkgray;
        transition: 0.5s;
    }

    #barra_navegacion ul
    {
        padding: 0;
    }

    #barra_navegacion >ul >li >a:hover {
        background-color: lightgray;

    }

/* barra navegacion cierre*/

/* nota principal inicio*/

    #nota_principal 
    {
        height: 380px;
        margin: 20px 0;
        box-shadow: 0 0 15px darkgray;
        margin-top: 20px;
        margin-bottom: 35px;
        /*border: 8px solid #fafafa;
        box-shadow: 0 0 10px #ddd;
        margin-top: 15px;*/

    }

    #nota_principal img{
        border: 10px solid white;
    }


    /* nota principal cierre*/


    /* nota secundaria inicio*/

    #nota_secundaria 
    {
       width:700px;
       min-height: 300px; 
        display: inline-block;

    }

    h1, h2, h3, h4, h5, h6,figure, p{
        margin: 0;
        padding: 0;
    }

    #nota_secundaria notas{
        margin-top: 20px;
    }

    #nota_secundaria article {
        display: flex;
        background-image: url('../imagenes/separador-nota-secundaria.png');
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    .sombra-imagen{
        box-shadow: 0 0 10px darkgray;
    }

    .imagen-nota-secundaria{
        position: relative;
    }

    .imagen-nota-secundaria span {
        position: absolute;
        top: 10px;
        left: -6px;
        padding: 5px 10px;
        box-shadow: 1px 1px 3px darkgray;
        background-color: lightgray;
    }

    .cuerpo-nota {
        padding-left: 20px;
        padding-right: 10px;
    }



    #nota_secundaria article h2{
        font-variant: small-caps;
        line-height: 0.9em; 
        font-size: 1.3em;
        font-weight: 500;
        
    }

    .titulo-nota a{
        color: #b92025;
        text-decoration: none;
    }

   .titulo-nota a:hover{
        color: #2a6496;
        text-decoration: underline;
    }

  

    .titulo-nota {
        margin-bottom: 15px;
        font-variant: small-caps;
        line-height: 0.8em;
        font-family: "Trajan Pro Regular";
            
     }

    #parrafo{
        text-align: justify;
        margin: 10px 0;
        padding-top: 5px;
        line-height: 1.2em;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        
    }


/* nota secundaria cierre*/


/* boton "ver mas" inicio*/
     .ver-mas{
        margin-top: 1.6em;
        background-color: #b92012;
        display: inline-block;
        padding: 3px;
        box-shadow: 0 2px 3px darkgray;
    }


    .ver-mas div{
       padding: 2px 20px !important;
       border: 1px solid white;
    }
    

    .ver-mas p {font-family: "Trajan Pro Regular"; color: white; font-variant: small-caps; font-size: 0.9em;}

/* boton ver mas cierre*/


/* anuncios inicio*/
#anuncios 
{
    width: 210px;
    /* display: inline; */
   
    padding: 5px;
    height: 290px;
}

#anuncios > img{
    margin: 3px 0;
}

/* anuncios cierre*/


/*pie de pagina inicio*/
#pie 
{
    height: 150px;
}

figure {
    margin: 0;
}

#programas{
    display: flex;
    justify-content: space-between;
}

#politicas{
    border-bottom: 3px double lightgray;
    border-top: 3px double lightgray;
    padding: 5px;
    text-align: center;
}

.separador-sems{
    padding: 5px 0;
    margin: 20px 0;
    position:  relative;
    text-align: center;
}

.separador-sems a::before, .separador-sems a::after{
    content: "";
    border-top: 3px double lightgray;
    width: 38%;
    position: absolute;
    top: 35px;
}

.separador-sems a::before{
    left: 0;
}

.separador-sems a::after{
    right: 0;
}

.text-center{
    text-align: center;
}

.pie-texto{
    color: gray;
}

/* pie de pagina cierre*/



/* redes sociales*/

.flexible {
    display: flex;
}

.facebook, .twitter{
    text-indent: -9999px;
    display: inline-block;
    width: 33px;
    height: 33px;
}

.facebook{
    background: url(../imagenes/facebook_twitter.png) 0 0;
}

.twitter{
    background: url(../imagenes/facebook_twitter.png) -43px 0;
}

.facebook:hover{
    background: url(../imagenes/facebook_twitter.png) 0 -43px;
}

.twitter:hover{
    background: url(../imagenes/facebook_twitter.png) -43px -43px;
}
/* cierre redes sociales*/