
.container {
    width: 920px;
    margin: 0 auto;
    
}

/* bloque encabezado inicio */
#encabezado 
{
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#encabezado figure, #titulos *{
    margin: 0;
}


#titulos h1 { font-size: 1.5em;} 
#titulos h2 { font-size: 1.2em;} 
#titulos h3 { font-size: 0.9em;} 
#titulos h4 { font-size: 0.8em;} 


#barra_navegacion {
    height: 50px;
    display: flex;
    justify-content: center;
    
}

#barra_navegacion li{
    display: inline-block;
    padding: 0;
}

#barra_navegacion ul ul{
    display: none;
}
#barra_navegacion a{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    background-color: darkgray;
    transition: 0.5s;
}

#barra_navegacion ul
{
    padding: 0;
}

#barra_navegacion >ul >li >a:hover {
    background-color: lightgray;
    
}



#nota_principal 
{
    background-color: burlywood;
}



#nota_secundaria 
{
   width: 660px;
   float: left; 
   min-height: 260px; 
   background-color: darkgrey;
    
}

#nota_secundaria article {
    display: flex;
}
figure{margin: 0;}

#nota_secundaria figure{
    position: relative;
}

#nota_secundaria figure span {
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 20px;
    box-shadow: 1px 1px 3px darkgray;
    background-color: lightgray;
}

#publicidad 
{
    width: 210px;
    /* display: inline; */
    float: right; 
    padding: 5px;
    height: 290px;
    background-color: dimgray;
}

#pie 
{
    clear: both;
    height: 150px;
    background-color: darkorange;
    
}


#nota_principal 
{
  
    border: 10px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin-top: 15px;

}


figure {
    margin: 0;
}



/*
#logo-sep {
    margin-top: 31px;
    float: left;
    
}

#titulos {
    padding-left: 310px;
}

#titulos h1{ font-size: 1.5em; }

#titulos * {
    margin: 0;
    padding: 0;
}
*/

/*
#barra_navegacion > ul {
    display: flex;
    justify-content: center; 
}

#barra_navegacion > li {
    display: block;
}

#barra_navegacion ul{
    padding: 0;
}

#barra_navegacion a
{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

#barra_navegacion >ul >li:hover{
    background-color: aqua;
}


*/



